@model FoodWay.Data.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="panel panel-headline">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <h2>PRODUCT DETAILS</h2>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.ProductName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.ProductName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Supplier)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Supplier.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Category.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Unit)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Unit)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Product.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Product.Price)
            </dd>
        </dl>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Product.Id" class="btn btn-primary">Edit</a> |
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </div>
        <br />
    </div>
</div>
