@model FoodWay.Data.ViewModels.MasterDetailViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/Master_Layout.cshtml";
}

<h4>Order by @Model.Order.Customer.Name</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Order.OrderDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Order.OrderDate)
    </dd>
</dl>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Order.Shipper)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Order.Shipper.Name)
    </dd>
</dl>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Order.Employee)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Order.Employee.FirstName)
    </dd>
</dl>

<table class="table">
    <thead>
        <tr>
            <th>
                Order Number
            </th>
            <th>
                Product Name
            </th>
            <th>
                Quantity
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Order.OrderDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.OrderNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Order.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>